@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

* {
  border: none;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

body {
  display: flex;
  align-items: center;
  background-color: var(--light-gray);
  height: 100vh;
}

img {
  height: auto;
  width: 100%;
}

p {
  font-size: 15px;
}

.qr-container {
  box-shadow: 1px 1px 13px #3338;
  border-radius: 20px;
  background-color: var(--white);
  margin: 0 auto;
  width: 290px;
  padding: 18px;
  padding-bottom: 30px;
}

.qr-container img {
  border-radius: 12px;
}

.qr-container h1,
.qr-container p {
  text-align: center;
}
.qr-container h1 {
  color: var(--dark-blue);
  font-size: 1.4rem;
  padding-top: 17px;
}

.qr-container p {
  color: var(--grayish-blue);
  font-size: 16px;
  padding: 17px 6px;
}

/* Desktop style */
@media only screen and (min-width:375px) {

}
